<template>
  <div class="field-operations">
  <h1 class="field-operations__title">Операции на поле 112</h1>
  <menu class="menu-operations">
    <li class="menu-operations__item"
        :class="{'menu-operations__item--active': filterBy === 'planned'}"
        @click="changeFilterBy('planned')">Запланированные операции</li>
    <li class="menu-operations__item"
        :class="{'menu-operations__item--active': filterBy === 'complete'}"
        @click="changeFilterBy('complete')">Выполненные операции</li>
  </menu>
  <table class="field-table">
    <tr class="field-table__head">
      <th
      class="field-table__head-cell
      field-table__head-cell--date"
      :class="{'field-table__head-cell--active': sortBy === 'date',
               'field-table__head-cell--reverse': reverse }"
      @click="changeSortBy('date')">Дата</th>
      <th
        class="field-table__head-cell"
        @click="changeSortBy('type')"
        :class="{'field-table__head-cell--active': sortBy === 'type',
               'field-table__head-cell--reverse': reverse }">Операция</th>
      <th
        class="field-table__head-cell"
        @click="changeSortBy('assessment')"
        :class="{'field-table__head-cell--active': sortBy === 'assessment',
               'field-table__head-cell--reverse': reverse }"
        >Качество</th>
    </tr>
    <tr class="field-table__row" v-for="operation in operations" :key="operation.id">
      <OperationDateCell :date="operation.date" />
      <OperationTypeCell :type="operation.type" />
      <OperationAssessmentCell
        :assessment="operation.assessment"/>
    </tr>
  </table>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';

import OperationDateCell from '@/components/OperationDateCell.vue';
import OperationAssessmentCell from '@/components/OperationAssessmentCell.vue';
import OperationTypeCell from '@/components/OperationTypeCell.vue';

export default {
  name: 'FieldOperations',
  components: {
    OperationDateCell,
    OperationAssessmentCell,
    OperationTypeCell,
  },
  computed: {
    ...mapGetters({
      operations: 'getSortedOperations',
    }),
    ...mapState([
      'sortBy',
      'filterBy',
      'reverse',
    ]),
  },
  mounted() {
    this.$store.dispatch('getOperations');
  },
  methods: {
    changeFilterBy(key) {
      if (this.filterBy === null || this.filterBy !== key) {
        this.$store.commit('SET_FILTER_BY', key);
      }
    },
    changeSortBy(key) {
      if (this.sortBy === key) this.$store.commit('SET_REVERSE', !this.reverse);
      else this.$store.commit('SET_REVERSE', false);
      this.$store.commit('SET_SORT_BY', key);
    },
  },
};
</script>

<style lang="scss">
  .field-operations {
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    &__title {
      font-family: Ubuntu-Medium;
      font-size: 25px;
      color: #333333;
      letter-spacing: -0.8px;
      line-height: 31px;
    }
  }
  .menu-operations {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &__item {
      font-family: Ubuntu-Medium;
      font-size: 11px;
      color: #333333;
      letter-spacing: -0.52px;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
      &:not(:first-child) {
        margin-left: 18px;
      }
      &--active {
        color: #3399FF;
      }
    }
  }
  .field-table {
    border-collapse: collapse;
  }
  .field-table__head {
    background-color: #EDEEEE;
    border: 1px solid #979797;
    height: 40px;
  }

  .field-table__head-cell {
    font-family: Ubuntu-Medium;
    font-size: 11px;
    color: #333333;
    letter-spacing: -0.52px;
    text-align: left;
    padding-left: 9px;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &:after {
      content: '';
      position: absolute;
      margin-top: 5px;
      margin-left: 10px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #A7A9AC;
    }
    &--active {
      &:after {
        border-top: 5px solid #3399FF;
      }
    }
    &--reverse {
      &:after {
        transform-origin: center;
        transform: rotate(180deg);
      }
    }
    &--date {
      width: 100px;
    }
  }
  .field-table__row {
    border-bottom: 1px solid #EDEEEE;
    height: 50px;
  }
  .field-table__cell {
    padding-left: 9px;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
  }

  .field-table__operation {
    font-family: Ubuntu-Medium;
    font-size: 13px;
    color: #333333;
    letter-spacing: -0.47px;
    text-align: left;
  }

</style>
