<template>
  <td class="field-table__cell field-table__date">{{dateString}}</td>
</template>

<script>
export default {
  name: 'OperationDateCell',
  props: {
    date: {
      type: Object,
    },
  },
  computed: {
    dateString() {
      return `${this.date.day} ${this.monthShortNames[this.date.month - 1]} ${this.date.year}`;
    },
  },
  data() {
    return {
      monthShortNames: [
        'Янв',
        'Фев',
        'Мар',
        'Апр',
        'Май',
        'Июн',
        'Июл',
        'Авг',
        'Сен',
        'Окт',
        'Ноя',
        'Дек'],
    };
  },
};
</script>

<style lang="scss">
  .field-table__date {
    opacity: 0.8;
    font-family: Ubuntu-Medium;
    font-size: 11px;
    color: #333333;
    letter-spacing: -0.4px;
    text-align: left;
    text-transform: uppercase;
  }
</style>
