<template>
  <td
    class="field-table__cell
          field-table__operation"
  >
    {{typeName(type)}}
  </td>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'OperationTypeCell',
  props: {
    type: Number,
  },
  computed: {
    ...mapGetters({
      typeName: 'getTypeName',
    }),
  },
};
</script>

<style lang="scss">

</style>
