<template>
  <td class="field-table__cell field-table__quality" :class="cellClass">
    <span class="quality-status"></span>
    {{ assessmentText(assessment) }}
  </td>
</template>

<script>
import { mapGetters } from 'vuex';


export default {
  name: 'OperationAssessmentCell',
  props: {
    assessment: {
      type: Number,
      required: false,
    },
  },
  computed: {
    cellClass() {
      const assentmentClasses = ['field-table__quality--good', 'field-table__quality--norm', 'field-table__quality--bad'];
      if (this.assessment === null) return 'field-table__quality--empty';
      return assentmentClasses[this.assessment];
    },
    ...mapGetters({
      assessmentText: 'getAssessmentTranslate',
    }),
  },
};
</script>

<style lang="scss">
  .field-table__quality {
    font-family: Ubuntu;
    font-size: 11px;
    color: rgba(51,51,51,1);
    letter-spacing: -0.29px;
    line-height: 19px;
    &--good {
      .quality-status {
        background-color: #66CC66;
      }
    }
    &--norm {
      .quality-status {
        background-color: #FFE06D;
      }
    }
    &--bad {
      .quality-status {
        background-color: #FF7360;
      }
    }
    &--empty {
      .quality-status {
        background-color: #EDEEEE;
      }
      color: rgba(51,51,51,0.3);
    }
  }
  .quality-status {
    width: 20px;
    height: 10px;
    float: left;
    border-radius: 5px;
    position: relative;
    top: 20px;
    margin-right: 10px;
  }
</style>
