<template>
  <div id="app" class="app">
    <header class="header"></header>
    <main class="container">
      <aside class="sidebar"></aside>
      <FieldOperations />
    </main>
  </div>
</template>

<script>
import FieldOperations from '@/components/FieldOperations.vue';

export default {
  name: 'app',
  components: {
    FieldOperations,
  },
};
</script>

<style lang="scss">
  @import '~normalize.css';
  .app {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
  }
  .header {
    background: #091C28;
    flex-basis: 100%;
    height: 80px;
  }
  .container {
    flex:0 0 calc(100vw - 78px);
    min-height: calc(100vh - 80px);
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);
    display: flex;
  }
  .sidebar {
    height: 100%;
    background: #F9F9F9;
    flex: 0 0 80px;
  }
</style>
